{% extends 'base.html' %} {% block conteudo%}
<h2 style="text-align: center">Integrando HTML no Flask</h2>
<hr />
<form class="form-group" action="{{url_for('principal')}}" method="POST">
  <label for="">Conteúdo</label>
  <input class="form-control" type="text" name="conteudo" required />
  <button class="btn btn-success">Adicionar</button>
</form>
<br />
<div>
  <ol class="list-group list-group-numbered">
    {% for conteudo in conteudos %}
    <li class="list-group-item">{{conteudo}}</li>
    {% endfor %}
  </ol>
</div>
{% endblock conteudo %}
